<div id="content">
  <article>

    <div data-padding-standard="horizontal-vertical">
      <div data-content-width="standard">
        <div class="typography">
          <h1>{{ "We couldn’t find the page you’re looking for."|t }}</h1>
          <p class="large">{{ "Check that you typed the address correctly, go back to the previous page, or return to the home page."|t }}</p>
          <hr/>
          <a href="{{ url('<front>') }}" class="button">{{ 'Return to the home page'|t }}</a>
        </div>
      </div>
    </div>

  </article>
</div>

<script>
  if(!window.pageData) window.pageData = {};
</script>

